

<div class="container mt-4">
    
    @if (ViewData.ContainsKey("IsError"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["IsError"]
        </div>
    }

    <form action="registration" method="post">
        <h2>Supplier Registration</h2>
        <div id="emailHelp" class="form-text">Pleease input all fields.</div>
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" name="name">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="mb-3">
            <label for="representative" class="form-label">Representative</label>
            <input type="text" class="form-control" id="representative" name="representative">
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="number" name="number">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Submit</button>
        <a type="btn" class="btn btn-secondary" href="./login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login Instead</a>
    </form>
</div>