

    <div class="container mt-4">

        @if (ViewData.ContainsKey("IsError"))
        {
            <div class="alert alert-danger" role="alert">
                Bad username or password!
            </div>
        }

        @if (ViewData.ContainsKey("RegisterSuccess"))
        {
            <div class="alert alert-success" role="alert">
                Registration success, please login below.
            </div>
        }

        <form action="login" method="post">
            <h2>Login</h2>
            <div class="form-text">Please login with your username and password.</div>
            <div class="mb-3 mt-2">
                <label for="Username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Submit
            </button>
            <a type="btn" class="btn btn-secondary" href="./registration"><i class="fa fa-user" aria-hidden="true"></i> Register Instead</a>
        </form>
    </div>