@page
@{

}
<div class="container">
    <partial name="_AuthLayout"/>
    <p class="mb-4s">Select an option below to manage inventory data with ease.</p>
    <a href="./home" type="button" class="btn btn-success">View Inventory</a>
    <a href="./purchased" type="button" class="btn btn-success">Manage Purchases</a>
</div>